# Server Configuration
PORT=3000
FOLDER=./storage

# Provider Configuration (local or google)
PROVIDER=local

# Google Cloud Storage Configuration File Path (required when PROVIDER=google)
# CONFIG=./config/gcs-config.json
